# Xcode
.DS_Store
*.xcodeproj
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad/
DerivedData/
.build/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.podspec

# macOS
.DS_Store
.AppleDouble
.LSOverride

# App bundles
Murmur.app/
*.app/
